.edit-btn {
    width: 90px;
    height: 30px;
    cursor: pointer;
    background: green;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
   }
   
   .edit-btn:hover {
    background: greenyellow;
   }

   .edit-btn:focus {
    outline: none;
   }
   