

#header{
    background-color: red;
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




#espetinhoDoNorte{
    text-align: center;
}

#logoImg{
    width: 250px;
}

#logo{
    font-size: 150px;
    font-family: 'Freehand', cursive;

}
